{{ form_start(form) }}
    {#{{ form_widget(form) }}#}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.profileType) }}
    <div class="box" style="display: none;">
        {{ form_row(form.offshootOfOrigin) }}
    </div>
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    <input id="_submit" name="_submit" class="btn btn-lg btn-default btn-success btn-block" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
{{ form_end(form) }}
