{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'profile.edit.title'|trans }}</h1>
        </div>
        <div class="col-lg-12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissable">
                    {{ flashMessage }}
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                </div>
            {% endfor %}
        </div>

        <!-- /.col-lg-12 -->
        <div class="col-lg-6 text-center">
            <h2>{{ 'profile.edit.user_profile.title'|trans }}</h2>

            <div class="text-left">
                {{ form_start(form_user_profile) }}
                {{ form_widget(form_user_profile) }}
                <div class="text-center">
                    <input class="btn btn-lg btn-default btn-success" type="submit"
                           value="{{ 'profile.edit.user_profile.submit'|trans }}"/>
                </div>
                {{ form_end(form_user_profile) }}
            </div>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6 text-center">
            <h2>{{ 'profile.edit.profile_picture.title'|trans }}</h2>

            <div class="well well-lg">
                {% if app.user.userProfile.profilePicture is defined %}
                    <img src="{{ current_profile_picture_web_path|imagine_filter('profile_thumbnail') }}"
                         alt="Profile picture thumbnail"
                         class="img-circle"
                            />
                {% endif %}
            </div>
            <div class="text-left">
                {{ form_start(form_profile_picture) }}
                <div class="form-group text-center">
                    <div class="has-error">
                        {{ form_errors(form_profile_picture.file) }}
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <span class="btn btn-lg btn-default btn-default btn-file">
                            {{ 'profile.edit.profile_picture.choose_file'|trans }}
                            {{ form_widget(form_profile_picture.file) }}
                        </span>
                        <input class="btn btn-lg btn-default btn-success" type="submit"
                               value="{{ 'profile.edit.profile_picture.submit'|trans }}"/>
                    </div>
                </div>

                {{ form_end(form_profile_picture) }}
            </div>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
{% endblock %}
